{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "templateStrings": true
  },
  "rules": {
    "no-inner-declarations": 0
  },
  "env": {
    "meteor": true
  }
}
